/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

/*Navbar*/
.navbar {
  margin-top: 1.5rem;
}

.navbar-nav li {
  margin-right: 1.25rem;
}

.navbar-nav li a {
  color: #131458;
  padding-right: 12px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.425rem;
  letter-spacing: 2px;
}

/*Bookings*/
#Bookings {
  margin-top: 6.3rem;
}

.bookings-h {
  color: #000;
  font-size: 3.58rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.93rem;
  text-transform: uppercase;
}

.span-1 {
  color: #daa054;
}

.bookings-btn {
  background-color: #131458;
  color: #fafafa;
  padding: 18px 40px;
  border-color: transparent;
}

.bookings-btn:hover {
  background-color: #fafafa;
  color: #daa054;
  border-color: #daa054;
  transition: 0.5s;
  border: 2px solid;
}

.bookings-btn:active {
  border-color: #daa054;
}

/*Showcase*/
.showcase {
  margin: 3rem 0 0 0;
  padding: 0;
}

/*Read More*/
.read-more {
  margin: 4rem 0;
}

.read-h {
  color: #000;
  font-size: 2.98rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem;
}

.read-p {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.425rem;
}

.read-btn {
  background-color: #131458;
  color: #fafafa;
  padding: 18px 40px;
  border-color: transparent;
}

.read-btn a {
  text-decoration: none;
  color: #fafafa;
}

.read-btn:hover {
  background-color: #fafafa;
  color: #daa054;
  border-color: #daa054;
  transition: 0.5s;
}

.vl {
  border-left: 2px solid black;
  height: 5rem;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 20;
  margin-top: -100px;
}

/*Join-us*/
#join-us {
  background-color: #131458;
}

.join-h {
  color: #fff;
  text-align: center;
  font-size: 2.98rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.card-title {
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: normal;
}

.card-text {
  color: #000;
  font-size: 0.85rem;
  line-height: 1.4rem;
}

.join-btn {
  font-size: 0.6rem;
  text-transform: uppercase;
  background-color: #131458;
  color: #fafafa;
  border-color: transparent;
  padding: 9px 18px;
}

.join-btn:hover {
  background-color: #fafafa;
  color: #daa054;
  border-color: #daa054;
}

/*Footer*/
footer {
  margin-top: 3rem;
}

.icons a,
img {
  margin: 0 10px;
  color: #000;
}

.a-links {
  text-decoration: none;
  color: #000;
}

.bi-img{
  position: relative;
  right: 0.6rem;
}

/*About Page*/
.about {
  margin-top: 4rem;
}

.about-h {
  color: #000;
  text-align: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.about-p {
  color: #000;
  text-align: justify;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
  padding-top: 1rem;
}

/*Media queries*/
@media (min-width: 320px) and (max-width: 480px) {
  .about-p {
    font-size: 1rem;
    line-height: 1.9rem;
    padding: 0.5rem;
  }

  .about-h {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .navbar-image {
    width: 150px;
    height: 40px;
  }

  .bookings-h {
    font-size: 2.07rem;
    line-height: 2.75rem;
    margin-top: -1.5rem;
  }

  .bookings-btn {
    padding: 9px 20px;
  }

  .read-btn {
    padding: 9px 20px;
  }

  .join-h {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .socials {
    padding: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about-p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem;
  }

  .about-h {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  .bookings-h {
    font-size: 2.48rem;
    line-height: 2.75rem;
    margin-top: -1.5rem;
  }

  .bookings-btn {
    padding: 9px 20px;
  }

  .read-btn {
    padding: 9px 20px;
  }

  .read-h {
    font-size: 1.9rem;
    line-height: 2rem;
  }

  .join-h {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .socials {
    padding: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem;
  }

  .about-h {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .read-h {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .navbar-nav li {
    margin-top: 1.5rem;
  }

  .row-class {
    padding: 3rem;
  }

  .card-class {
    margin-top: 2.5rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .read-p {
    padding: 1.5rem;
  }
}

@media (min-width:992px) and (max-width: 1280px){
  .footer-img-1{
    position: relative;
    right: 3.75rem;
  }
}

@media (min-width:1281px) and (max-width: 1980px){
  .footer-img-1{
    position: relative;
    right: 6rem;
  }
}


@media (min-width: 767px) and (max-width: 992px) {
  .footer-p {
    padding: 0 4rem;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .socials {
    margin-bottom: 2rem;
  }
}

/*showcase responsivenes*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .showcase {
    background-image: url(Images/Speakers2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
  }

  .row-class {
    margin: 2rem;
  }
}

@media (min-width: 1281px) {
  .showcase {
    background-image: url(Images/Speakers2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
  }

  .row-class {
    margin: 3rem;
  }
}

@media (min-width: 0px) and (max-width: 1400px) {
  .vl {
    display: none;
  }
}
